@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add custom classes if needed */
.bg-hero-image {
  background-image: url('../public/bg-image.jpg');
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 3s ease-in-out;
}
